@()

@main("Welcome to Play") {
<div class="container-fluid d-flex justify-content-center align-items-center flex-column">
    <h1 class="m-5 inline-block">Welcome to Pizza Blaff</h1>
    <a href="menu" class="btn btn-primary" role="button">Continue to the shop</a>
</div>
@footer()
}


