@import model.Pizza
@import play.api.libs.json.Json

@(products: List[Pizza])


@main("Welcome to Play") {

<div class="container d-flex flex-md-column align-items-center justify-content-center flex-lg-row">
    @for(p <- products) {
    <div class="card m-md-2 mt-md-5" style="width: 18rem;">
        <div style="height: 18rem;">
            <img class="card-img-top" alt="@p.name" src="@routes.Assets.versioned("images/pizza.jpg")" >
        </div>
        <div class="card-body">
            <h5 class="card-title">@p.name</h5>
            <p class="card-text">@p.description</p>
            <a href="#" class="btn btn-primary addToCartBtn" data-pizza="@p">Add to cart</a>
        </div>
    </div>
    }
</div>
@footer()
}